.add-note-control {
  background-color: var(--dark);
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
  margin-top: 50px;
  padding: 8px;
  border-radius: 10px;
  cursor: pointer;
}
.add-note-control:hover {
  background-color: rgb(75, 75, 75);
}
.add-note-control > h3 {
  color: white;
  font-size: 15px;
  font-weight: 400;
  letter-spacing: 1px;
}
.add-note-control > button {
  color: white;
  background-color: transparent;
  outline: none;
  border: none;
}
.add-form {
  background: var(--dark);
  padding: 20px 10px;
  border-radius: 10px;
}
form > textarea {
  width: 100%;
  height: 120px;
  resize: none;
  margin-bottom: 10px;
  background-color: var(--gray);
  color: white;
  border: none;
  padding: 10px;
  outline: none;
}
.form-controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;
}
.form-controls > select {
  width: 50%;
  padding: 2px;
}
.form-controls > button {
  width: 50%;
  padding: 2px;
}
