.tags {
  margin-top: 80px;
}
.tags > h3 {
  color: white;
  font-weight: 400;
  margin-bottom: 20px;
  letter-spacing: 1px;
}
@media screen and (max-height: 400px) {
  .tags {
    margin-top: 50px;
  }
}
